asgiref==3.4.1
boto3==1.20.29
botocore==1.23.29
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.1
django-crispy-forms==1.13.0
django-filter==21.1
django-heroku==0.3.1
django-storages==1.12.3
filelock==3.4.2
Flask==2.0.2
flask-http-response==0.0.1.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
Pillow==9.0.0
pipenv==2022.1.8
platformdirs==2.4.1
psycopg2==2.9.3
python-dateutil==2.8.2
requests==2.27.1
s3transfer==0.5.0
six==1.16.0
SQLAlchemy==1.4.29
SQLAlchemy-ImageAttach==1.1.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.7
virtualenv==20.13.0
virtualenv-clone==0.5.7
Wand==0.6.7
Werkzeug==2.0.2
whitenoise==5.3.0
WTForms==3.0.1
